<div class="passphrase-modal">
    <div class="passphrase-content">
        <div class="passphrase-form-body">
            <label for="tx">Transaction ID</label>
            {{TX.txid}}
        </div>
        <div class="passphrase-form-body">
            <label for="tx">Category</label>
            {{TX.details[0]["category"] }}
        </div>
        <div class="passphrase-form-body">
            <label for="tx">Time</label>
            {{TX.time * 1000| date:"MM/dd/yyyy 'at' h:mma"}}
        </div>
        <div class="passphrase-form-body">
            <label for="tx">Confirmation</label>
            {{TX.confirmations }}
        </div>
        <div class="passphrase-form-body">
            <label for="tx">Amount</label>
            {{TX.amount }} {{coin}}
        </div>
        <div ng-if='TX.details[0]["category"]==="send"' class="passphrase-form-body">
            <label for="tx">Fee</label>
            {{TX.details[0]["fee"] }} {{coin}}
        </div>
        <div ng-if='TX.details[0]["category"]==="send"' class="passphrase-form-body">
            <label for="tx">Net amount</label>
            {{TX.details[0]["fee"] +TX.amount }} {{coin}}
        </div>
        <div ng-if='TX.details[0]["category"]==="send"' class="passphrase-form-body">
            <label for="tx">Comment</label>
            {{TX.comment }}
        </div>
        
                <!--<div class="alert-box info" ng-show="errorOn">
              Wrong passphrase or it's not saved. Please enter again.
          </div> -->
        <div class="passphrase-form-submit">
            <button ng-click="closeModal()" type="button">Close</button>
        </div>
        <div class="passphrase-close">
            <a ng-click="closeModal()" class="close">&times;</a>
        </div>
    </div>
</div>