<div class="passphrase-modal">
    <div class="passphrase-content">
        <div class="passphrase-form-body">
            <label for="passphrase">Passphrase</label>
            <input type="text" name="passphrase" ng-model="formData.passphrase">
        </div>
        <div class="alert-box info" ng-show="errorOn">
              Wrong passphrase. Please enter again.
          </div> 
        <div class="passphrase-form-submit">
            <button ng-click="save()" type="button">Ok</button>
        </div>
        <div class="passphrase-close">
            <a ng-click="closeModal()" class="close">&times;</a>
        </div>
    </div>
</div>