<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Backup'; goBackToState = 'preferences'">
</div>
 
<div class="content backup-page-content ">
    
    <h1 translate>Write your wallet seed</h1>
    <span translate>You need the wallet seed to restore this personal wallet.</span></br>
    <span translate>Write it down and keep it somewhere safe</span>
    
    <div class="wallet-seed-tab">
        <span translate>truly rebel into patrol virus coast kit property tray vital deal van</span>
    </div>
    
    <div class="column">
        <input type="submit" class="button expand black round" value="{{'Continue'|translate}}"
        ng-style="{'background-color':app_config.colorFor}">
    </div>
</div>
