<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/foundation.css">
    <link rel="stylesheet" type="text/css" href="icons1/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="css/copay.css">
    <title>Copay - Options Language Page</title>
    <link rel="shortcut icon" href="img/favicon.ico">
</head>

<body class="" cz-shortcut-listen="true">

    <div class="page">

        <div class="off-canvas-wrap" id="off-canvas-wrap">
            <div class="inner-wrap">
                <div id="sectionContainer">
                    <div id="mainSection">
                        <section class="main">
                            <div class="topbar-container">
                                <nav class="tab-bar" style="background-color: rgb(74, 144, 226);">
                                    <section class="left-small">
                                        <a class="p10">
                                            <span class="text-close">Back</span>
                                        </a>
                                    </section>
                                    <section class="middle-small">
                                        <span>Language</span>
                                    </section>
                                </nav>
                            </div>


                            <div class="content options">

                                <ul class="no-bullet m0">
                                    
                                    <li class="margin_top">
                                        <div class="right text-gray">
                                            <i class="fi-check m5 right"></i>
                                        </div>
                                        <div><span>English</span></div>
                                    </li>
                                    <li>
                                        <div class="right text-gray">
                                        </div>
                                        <div><span>Deutsch</span></div>
                                    </li>
                                    <li>
                                        <div class="right text-gray">
                                        </div>
                                        <div><span>Chinese</span></div>
                                    </li>
                                    

                                </ul>

                            </div>

                            <div class="extra-margin-bottom"></div>
                        </section>
                    </div>
                </div>
                <a class="close-menu"></a>

            </div>
        </div>
    </div>

    <script src="lib/angular.js"></script>

    <!-- DO NOT DELETE THIS COMMET  -->
    <!-- PLACEHOLDER: CORDOVA SRIPT -->

    <script src="js/copay.js"></script>
</body>

</html>