<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Peer Management'; goBackToState = 'preferencesAdvanced';index.showPeerFavorites=true;">
</div>

<div class="content preferences advanced" ng-controller="preferencesPeerController as peer">

<table class="peer_management_table">
  <tr class="peer_management_table_header">
    <th>IP Address</th>
    <th>Coin Type</th>
    <th>Height</th>
    <th>Rank</th>
    <th class="unfavor-favor">Unfavorite/Favorite</th>
  </tr>
  <tr class="peer_management_table_body" ng-show="peer.favor1 || !peerFavorites">
    <td>127.0.0.1</td>
    <td>BTC</td>
    <td>854849</td>
    <td>0</td>
    <td>
      <switch id="unfavor_favor" ng-model="peer.favor1" name="unfavor_favor" class="green right"></switch>
    </td>
  </tr>
  <tr class="peer_management_table_body" ng-show="peer.favor2 || !peerFavorites">
    <td>234.0.0.1</td>
    <td>BTC</td>
    <td>584849</td>
    <td>1</td>
    <td>
      <switch id="unfavor_favor" ng-model="peer.favor2" name="unfavor_favor" class="green right"></switch>
    </td>
  </tr>
  <tr class="peer_management_table_body" ng-show="peer.favor3 || !peerFavorites">
    <td>345.0.0.1</td>
    <td>BTC</td>
    <td>354849</td>
    <td>1</td>
    <td>
      <switch id="unfavor_favor" ng-model="peer.favor3" name="unfavor_favor" class="green right"></switch>
    </td>
  </tr>
  <tr class="peer_management_table_body" ng-show="peer.favor4 || !peerFavorites">
    <td>567.0.0.1</td>
    <td>BTC</td>
    <td>454849</td>
    <td>2</td>
    <td>
      <switch id="unfavor_favor" ng-model="peer.favor4" name="unfavor_favor" class="green right"></switch>
    </td>
  </tr>
</table>
  

</div>
<div class="extra-margin-bottom"></div>

