<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" type="text/css" href="css/foundation.css">
  <link rel="stylesheet" type="text/css" href="icons1/foundation-icons.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/copay.css">
  <title>Iguana </title>
  <link rel="shortcut icon" href="favicon.ico">
    
</head>
<body ng-cloak class="ng-cloak" data-custom-load="true" data-name="iguana" data-tools="pnacl newlib glibc clang-newlib mac" data-configs="Debug Release"
data-path="{tc}/{config}" >

  <div class="page" 
    ng-controller="indexController as index" 
    ng-swipe-disable-mouse 
    ng-swipe-left="index.closeMenu()"
    ng-swipe-right="index.openMenu()">

    <div class="off-canvas-wrap" id="off-canvas-wrap">
      <div class="inner-wrap">
        <div ng-include="'views/includes/sidebar.html'" ng-if="!index.hasProfile"></div>

        <div notifications="right top"></div> 
        <div ng-include="'views/includes/password.html'" ng-if="index.askPassword"></div>
        <div ng-include="'views/includes/alert.html'" ng-if="index.showAlert"></div>
        <div id="sectionContainer">
          <div id="mainSection">
            <section ui-view="main"
              ng-class="{
                'main': index.hasProfile
              }"></section>
          </div>
        </div>
        <a class="close-menu" ng-click="index.closeMenu()"></a>

      </div>
    </div>
  </div>
  
  <script src="lib/angular.js"></script>

  <!-- DO NOT DELETE THIS COMMET  -->
  <!-- PLACEHOLDER: CORDOVA SRIPT -->
  
<div id="listener"></div>

 <!-- <script src="js/copay.js"></script>-->
<script src="js/iguana/init.js"></script>
<script src="js/iguana/run.js"></script>
<script src="js/iguana/qrcode.js"></script>
<script src="js/iguana/services/animation.js"></script>
<script src="js/iguana/services/pphgen.js"></script>
<script src="js/iguana/services/addonManager.js"></script>
<script src="js/iguana/services/storage.js"></script>
<script src="js/iguana/services/go.js"></script>
<script src="js/iguana/controllers/versionController.js"></script>
<script src="js/iguana/controllers/preferencesController.js"></script>
<script src="js/iguana/controllers/preferencesGlobalController.js"></script>
<script src="js/iguana/controllers/preferencesColorController.js"></script>
<script src="js/iguana/controllers/preferencesAliasController.js"></script>
<script src="js/iguana/controllers/preferencesEmailController.js"></script>
<script src="js/iguana/controllers/preferencesAdvancedController.js"></script>
<script src="js/iguana/controllers/preferencesDeleteWordsController.js"></script>
<script src="js/iguana/controllers/indexController.js"></script> 
<script src="js/iguana/controllers/loginController.js"></script>
<script src="js/iguana/controllers/signupController.js"></script>
<script src="js/iguana/controllers/wallethome.js"></script> 
<script src="js/iguana/controllers/topbarController.js"></script>
<script src="js/iguana/controllers/sidebarController.js"></script>
<script src="js/iguana/directive/qrscan.js"></script>

<script src="js/iguana/pphgen/entropy.js"></script>
<script src="js/iguana/pphgen/aes.js"></script>
<script src="js/iguana/pphgen/aesprng.js"></script>
<script src="js/iguana/pphgen/md5.js"></script>
<script src="js/iguana/pphgen/wordtab.js"></script>
<script src="js/iguana/pphgen/utf-8.js"></script>

</body>
</html>
